*{
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-areas: "header header header header header"
   " nav nav nav nav nav "
   " services services services services services "
   " discount discount discount discount discount "
   " subcat subcat subcat subcat subcat "
   " . main main main . "
   "footer footer footer footer footer";
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 17vw auto auto auto 17vw; 
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.logoLenovo {
    max-width: 100%;
    height: auto;
}

.intLinks{
    margin: 10px;    
}

.intLinks a img{
    margin: 5px 7px;
    max-width: 100%;
    height: auto;
}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    background-color: #FFFFFF;
}

.navLinks a {
    text-decoration: none;
    text-align: left;
    font: normal normal bold 14px/14px Lato-Bold;
    letter-spacing: -0.14px;
    color: #000000;
    margin-right: 20px;
}

.buscador {
    display: flex;
    border: solid 1px #000000;
    border-radius: 4px;
}

.casillaBuscar {
    width: 400px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.textoBuscar{
    text-align: left;
    font: normal normal 14px/14px Lato;
    letter-spacing: 0px;
    color: #000000;
    margin: 9px 18px;
}

.lupaBuscar{
    background-color: #000000;
    height: 35px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.lupaBuscar img {
    height: 14px;
    width: 16px;
}

.services {
    grid-area: services;
    background-color: #f8f8f8;
    height: 45px;
}

.services div {
    margin: 14px 279px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services div a{
    text-decoration: none;
    text-align: left;
    font: normal normal bold 13px/13px Lato;
    letter-spacing: 0px;
    color: #000000;
}

.discount {
    grid-area: discount;
    background-color: #af0e4e;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discountText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 281px;
}

.discountRegular {
    font: normal normal 16px/16px Lato;
    letter-spacing: -0.13px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 4px;
}

.discountBlack {
    font: normal normal 16px/16px Lato;
    letter-spacing: -0.13px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 4px;
}

.discountBold {
    font: normal normal 16px/16px Lato;
    letter-spacing: -0.13px;
    color: #FFFFFF;
    margin-right: 4px;
}

.subcat {
    grid-area: subcat;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: solid 1px #555555;
    padding: 15px 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subcat a{
    text-decoration: none;
    text-align: left;
    font: normal normal 24px/24px Lato;
    letter-spacing: 0px;
    color: #555555;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: " titulo "
    "comercio ";
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.titulo {
    grid-area: titulo;
    font: normal normal bold 32px/32px Lato;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    border-bottom: solid 1px #CCCCCC;
    padding-bottom: 6px;
    margin-top: 48px;
}

.comercio {
    display: grid;
    grid-template-areas:
    "bloqueSelector articulos "
    " . articulos ";
    grid-template-rows: auto auto;
    grid-template-columns: 20% 80%;
    
    margin-right: 15px;
}

.bloqueSelector {
    margin-right: 39px;
    margin-top: 26px;
    grid-area: bloqueSelector;
}

.selectorPrecio {
    display: flex;
    justify-content: space-between;
}

.selectorPrecio p {
    font: normal normal bold 14px/14px Lato;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
}

.displayFiltros {
    max-width: 100%;
    height: auto;
}

.preciosDisponibles{
    font: normal normal bold 14px/14px Lato;
    text-align: left;
    letter-spacing: 0px;
    color: #555555;
    display: flex;
    margin-top: 23px;
    margin-right: 17px;
}

.bloqueNegro {
    height: 14px;
    width: 14px;
    margin-right: 5px;
    border-radius: 4px;
    background-color: #000000;
}

.linkMasPrecios{
    font: normal normal bold 14px/14px Lato;
    text-align: left;
    letter-spacing: 0px;
    color: #0d5c91;
    margin-top: 13px;
    padding-bottom: 22px;
    border-bottom: solid 1px #CCCCCC;
}

.articulos {
    grid-area: articulos;
    margin-top: 20px;
    display: grid;
    grid-template-areas: " articulosEncabezado "
    " listaArticulos ";
    grid-template-rows: 45px auto;
    grid-template-columns: 100%;
}

.articulosEncabezado{
    grid-area: articulosEncabezado;
    display: flex;
    justify-content: space-between;
}

.articulosEncabezado p {
    font: normal normal bold 14px/14px Lato;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
}

.ordenador{
    width: 218px;
    height: 45px;
    border: solid 1px #BCBCBC;
}

.listaArticulos {
    grid-area: listaArticulos;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.compuDoorbuster {
    border: solid 1px #BCBCBC;
    border-radius: 5px;
    padding: 15px;
}

.compuNormal {
    border: solid 1px #BCBCBC;
    border-radius: 5px;
    padding: 15px;
}

.doorbuster {
    background-color: #af0200;
}

.doorbuster{
    color: #FFFFFF;
    font: normal normal 14px/14px Lato;
    text-align: center;
    letter-spacing: 0px;
    height: 30px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.imagenCompu {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 4px;
    max-width: 100%;
    height: auto;
}

.descripcion {
    color: #0d5c91;
    font: normal normal bold 15px/15px Lato;
    text-align: left;
    letter-spacing: 0px;
}

.precio {
    margin-top: 40px;
    font: normal normal 26px/26px Lato;
    text-align: left;
    letter-spacing: 0px;
}

.cupon {
    font: normal normal 12px/12px Lato;
    text-align: left;
    letter-spacing: 0px;
    margin-top: 12px;
}

.agregarCarrito {
    background-color:  #0d5c91;
    font: normal normal bold 16px/16px Lato;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 12px;
    height: 45px;
    width: 190px;
    border: solid 1px #BCBCBC;
    border-radius: 4px;
}

.footer {
    grid-area: footer;
    height: 10vh;
    display: flex;
    align-items: flex-end;
}

.footer p {
    font: normal normal 12px/12px Lato;
    margin: 10px;   
}

@media screen and (min-width: 1260px) and (max-width: 1440px) {
    .grid {
        display: grid;
        grid-template-areas: "header header header header header"
       " nav nav nav nav nav "
       " services services services services services "
       " discount discount discount discount discount "
       " subcat subcat subcat subcat subcat "
       " . main main main . "
       "footer footer footer footer footer";
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: 17vw auto auto auto 17vw; 
    }
    
    .header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFFFFF;
    }

    .logoLenovo {
        max-width: 100%;
        height: auto;
    }
    
    .intLinks{
        margin: 7px;    
    }
    
    .intLinks a img{
        margin: 5px 7px;
        max-width: 100%;
        height: auto;
    }
    
    .nav {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 6px;
        background-color: #FFFFFF;
    }
    
    .navLinks a {
        text-decoration: none;
        text-align: left;
        font: normal normal bold 13px/13px Lato-Bold;
        letter-spacing: -0.14px;
        color: #000000;
        margin-right: 15px;
    }
    
    .buscador {
        display: flex;
        border: solid 1px #000000;
        border-radius: 4px;
    }
    
    .casillaBuscar {
        width: 300px;
        height: 27px;
        display: flex;
        justify-content: space-between;
    }
    
    .textoBuscar{
        text-align: left;
        font: normal normal 13px/13px Lato;
        letter-spacing: 0px;
        color: #000000;
        margin: 7px 14px;
    }
    
    .lupaBuscar{
        background-color: #000000;
        height: 27px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .lupaBuscar img {
        height: 11px;
        width: 13px;
    }
    
    .services {
        grid-area: services;
        background-color: #f8f8f8;
        height: 34px;
    }
    
    .services div {
        margin: 11px 210px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .services div a{
        text-decoration: none;
        text-align: left;
        font: normal normal bold 12px/12px Lato;
        letter-spacing: 0px;
        color: #000000;
    }
    
    .discount {
        grid-area: discount;
        background-color: #af0e4e;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .discountText {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px 210px;
    }
    
    .discountRegular {
        font: normal normal 12px/12px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 4px;
    }
    
    .discountBlack {
        font: normal normal 12px/12px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 4px;
    }
    
    .discountBold {
        font: normal normal 12px/12px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        margin-right: 4px;
    }
    
    .subcat {
        grid-area: subcat;
        height: 45px;
        background-color: #FFFFFF;
        border-bottom: solid 1px #555555;
        padding: 12px 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .subcat a{
        text-decoration: none;
        text-align: left;
        font: normal normal 18px/18px Lato;
        letter-spacing: 0px;
        color: #555555;
    }
    
    .main {
        grid-area: main;
        display: grid;
        grid-template-areas: " titulo "
        "comercio ";
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
    
    .titulo {
        grid-area: titulo;
        font: normal normal bold 24px/24px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        border-bottom: solid 1px #CCCCCC;
        padding-bottom: 5px;
        margin-top: 36px;
    }
    
    .comercio {
        display: grid;
        grid-template-areas:
        "bloqueSelector articulos "
        " . articulos ";
        grid-template-rows: auto auto;
        grid-template-columns: 20% 80%;
        margin-right: 12px;
    }
    
    .bloqueSelector {
        margin-right: 30px;
        margin-top: 20px;
        grid-area: bloqueSelector;
    }
    
    .selectorPrecio {
        display: flex;
        justify-content: space-between;
    }
    
    .selectorPrecio p {
        font: normal normal bold 11px/11px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
    }

    .displayFiltros {
        max-width: 100%;
        height: auto;
    }
    
    .preciosDisponibles{
        font: normal normal bold 11px/11px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #555555;
        display: flex;
        margin-top: 18px;
        margin-right: 13px;
    }
    
    .bloqueNegro {
        height: 11px;
        width: 11px;
        margin-right: 4px;
        border-radius: 4px;
        background-color: #000000;
    }
    
    .linkMasPrecios{
        font: normal normal bold 11px/11px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #0d5c91;
        margin-top: 10px;
        padding-bottom: 17px;
        border-bottom: solid 1px #CCCCCC;
    }
    
    .articulos {
        grid-area: articulos;
        margin-top: 15px;
        display: grid;
        grid-template-areas: " articulosEncabezado "
        " listaArticulos ";
        grid-template-rows: 45px auto;
        grid-template-columns: 100%;
    }
    
    .articulosEncabezado{
        grid-area: articulosEncabezado;
        display: flex;
        justify-content: space-between;
    }
    
    .articulosEncabezado p {
        font: normal normal bold 11px/11px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
    }
    
    .ordenador{
        width: 164px;
        height: 34px;
        border: solid 1px #BCBCBC;
    }
    
    .listaArticulos {
        grid-area: listaArticulos;
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
    }
    
    .compuDoorbuster {
        border: solid 1px #BCBCBC;
        border-radius: 5px;
        padding: 12px;
    }
    
    .compuNormal {
        border: solid 1px #BCBCBC;
        border-radius: 5px;
        padding: 12px;
    }
    
    .doorbuster {
        background-color: #af0200;
    }
    
    .doorbuster{
        color: #FFFFFF;
        font: normal normal 11px/11px Lato;
        text-align: center;
        letter-spacing: 0px;
        height: 23px;
        width: 105px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    .imagenCompu {
        margin-top: 8px;
        margin-left: 15px;
        margin-bottom: 3px;
        max-width: 100%;
        height: auto;
    }
    
    .descripcion {
        color: #0d5c91;
        font: normal normal bold 12px/12px Lato;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .precio {
        margin-top: 30px;
        font: normal normal 18px/18px Lato;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .cupon {
        font: normal normal 10px/10px Lato;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 12px;
    }
    
    .agregarCarrito {
        background-color:  #0d5c91;
        font: normal normal bold 12px/12px Lato;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-top: 10px;
        height: 34px;
        width: 143px;
        border: solid 1px #BCBCBC;
        border-radius: 4px;
    }
    
    .footer {
        grid-area: footer;
        height: 10vh;
        display: flex;
        align-items: flex-end;
    }
    
    .footer p {
        font: normal normal 12px/12px Lato;
        margin: 10px;   
    }

}

@media screen and (min-width: 1024px) and (max-width: 1260px) {
    .grid {
        display: grid;
        grid-template-areas: "header header header header header"
       " nav nav nav nav nav "
       " services services services services services "
       " discount discount discount discount discount "
       " subcat subcat subcat subcat subcat "
       " . main main main . "
       "footer footer footer footer footer";
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: 10vw auto auto auto 10vw; 
    }
    
    .header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFFFFF;
    }

    .logoLenovo {
        max-width: 100%;
        height: auto;
    }
    
    .intLinks{
        margin: 6px;    
    }
    
    .intLinks a img{
        margin: 3px 5px;
        max-width: 100%;
        height: auto;
    }
    
    .nav {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        background-color: #FFFFFF;
    }
    
    .navLinks a {
        text-decoration: none;
        text-align: left;
        font: normal normal bold 11px/11px Lato-Bold;
        letter-spacing: -0.14px;
        color: #000000;
        margin-right: 12px;
    }
    
    .buscador {
        display: flex;
        border: solid 1px #000000;
        border-radius: 4px;
    }
    
    .casillaBuscar {
        width: 260px;
        height: 25px;
        display: flex;
        justify-content: space-between;
    }
    
    .textoBuscar{
        text-align: left;
        font: normal normal 11px/11px Lato;
        letter-spacing: 0px;
        color: #000000;
        margin: 6px 12px;
    }
    
    .lupaBuscar{
        background-color: #000000;
        height: 23px;
        width: 26px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .lupaBuscar img {
        height: 14px;
        width: 16px;
    }
    
    .services {
        grid-area: services;
        background-color: #f8f8f8;
        height: 48px;
    }
    
    .services div {
        margin: 9px 110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .services div a{
        text-decoration: none;
        text-align: left;
        font: normal normal bold 11px/11px Lato;
        letter-spacing: 0px;
        color: #000000;
    }
    
    .discount {
        grid-area: discount;
        background-color: #af0e4e;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .discountText {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 9px 128px;
    }
    
    .discountRegular {
        font: normal normal 13px/13px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 3px;
    }
    
    .discountBlack {
        font: normal normal 13px/13px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 3px;
    }
    
    .discountBold {
        font: normal normal 13px/13px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        margin-right: 3px;
    }
    
    .subcat {
        grid-area: subcat;
        height: 39px;
        background-color: #FFFFFF;
        border-bottom: solid 1px #555555;
        padding: 10px 208px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .subcat a{
        text-decoration: none;
        text-align: left;
        font: normal normal 16px/16px Lato;
        letter-spacing: 0px;
        color: #555555;
    }
    
    .main {
        grid-area: main;
        display: grid;
        grid-template-areas: " titulo "
        "comercio ";
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
    
    .titulo {
        grid-area: titulo;
        font: normal normal bold 21px/21px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        border-bottom: solid 1px #CCCCCC;
        padding-bottom: 4px;
        margin-top: 31px;
    }
    
    .comercio {
        display: grid;
        grid-template-areas:
        "bloqueSelector articulos "
        " . articulos ";
        grid-template-rows: auto auto;
        grid-template-columns: 20% 80%;
        margin-right: 10px;
    }
    
    .bloqueSelector {
        margin-right: 25px;
        margin-top: 17px;
        grid-area: bloqueSelector;
    }
    
    .selectorPrecio {
        display: flex;
        justify-content: space-between;
    }
    
    .selectorPrecio p {
        font: normal normal bold 12px/12px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
    }

    .displayFiltros {
        max-width: 100%;
        height: auto;
    }
    
    .preciosDisponibles{
        font: normal normal bold 12px/12px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #555555;
        display: flex;
        margin-top: 13.5px;
        margin-right: 10.5px;
    }
    
    .bloqueNegro {
        height: 9px;
        width: 9px;
        margin-right: 3px;
        border-radius: 2px;
        background-color: #000000;
    }
    
    .linkMasPrecios{
        font: normal normal bold 9px/9px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #0d5c91;
        margin-top: 22.5px;
        padding-bottom: 13.5px;
        border-bottom: solid 1px #CCCCCC;
    }
    
    
    .articulos {
        grid-area: articulos;
        margin-top: 13px;
        display: grid;
        grid-template-areas: " articulosEncabezado "
        " listaArticulos ";
        grid-template-rows: 29px auto;
        grid-template-columns: 100%;
    }
    
    .articulosEncabezado{
        grid-area: articulosEncabezado;
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }
    
    .articulosEncabezado p {
        font: normal normal bold 12px/12px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
    }
    
    .ordenador{
        width: 141px;
        height: 29px;
        border: solid 1px #BCBCBC;
    }
    
    .listaArticulos {
        grid-area: listaArticulos;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .compuDoorbuster {
        border: solid 1px #BCBCBC;
        border-radius: 5px;
        padding: 10px;
    }
    
    .compuNormal {
        border: solid 1px #BCBCBC;
        border-radius: 5px;
        padding: 10px;
    }
    
    .doorbuster {
        background-color: #af0200;
    }
    
    .doorbuster{
        color: #FFFFFF;
        font: normal normal 9px/9px Lato;
        text-align: center;
        letter-spacing: 0px;
        height: 19px;
        width: 91px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    .imagenCompu {
        margin-top: 6px;
        margin-left: 13px;
        margin-bottom: 2px;
        max-width: 100%;
        height: auto;
    }
    
    .descripcion {
        color: #0d5c91;
        font: normal normal bold 11px/11px Lato;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .precio {
        margin-top: 26px;
        font: normal normal 18px/18px Lato;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .cupon {
        font: normal normal 9px/9px Lato;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 8px;
    }
    
    .agregarCarrito {
        background-color:  #0d5c91;
        font: normal normal bold 11px/11px Lato;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-top: 8px;
        height: 30px;
        width: 155px;
        border: solid 1px #BCBCBC;
        border-radius: 4px;
    }
    
    .footer {
        grid-area: footer;
        height: 10vh;
        display: flex;
        align-items: flex-end;
    }
    
    .footer p {
        font: normal normal 8px/8px Lato;
        margin: 10px;   
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    .grid {
        display: grid;
        grid-template-areas: "header header header header header"
       " nav nav nav nav nav "
       " services services services services services "
       " discount discount discount discount discount "
       " subcat subcat subcat subcat subcat "
       " . main main main . "
       "footer footer footer footer footer";
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: 10vw auto auto auto 10vw; 
    }
    
    .header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFFFFF;
    }

    .logoLenovo {
        max-width: 100%;
        height: auto;
    }
    
    .intLinks{
        margin: 5px;    
    }
    
    .intLinks a img{
        margin: 4px 6px;
        max-width: 100%;
        height: auto;
    }
    
    .nav {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 3px;
        background-color: #FFFFFF;
    }
    
    .navLinks a {
        text-decoration: none;
        text-align: left;
        font: normal normal bold 12px/12px Lato-Bold;
        letter-spacing: -0.14px;
        color: #000000;
        margin-right: 8px;
    }
    
    .buscador {
        display: flex;
        border: solid 1px #000000;
        border-radius: 4px;
    }
    
    .casillaBuscar {
        width: 240px;
        height: 25px;
        display: flex;
        justify-content: space-between;
    }
    
    .textoBuscar{
        text-align: left;
        font: normal normal 11px/11px Lato;
        letter-spacing: 0px;
        color: #000000;
        margin: 6px 12px;
    }
    
    .lupaBuscar{
        background-color: #000000;
        height: 25px;
        width: 27px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .lupaBuscar img {
        height: 14px;
        width: 16px;
    }
    
    .services {
        grid-area: services;
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        overflow: auto;
        white-space: nowrap;
        height: 64px;
    }
    
    .services div {
        margin: 3px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .services div a{
        display: inline-block;
        text-decoration: none;
        text-align: left;
        font: normal normal bold 12px/12px Lato;
        letter-spacing: 0px;
        color: #000000;
        margin-right: 15px;
    }
    
    .discount {
        grid-area: discount;
        background-color: #af0e4e;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .discountText {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 9px 128px;
    }
    
    .discountRegular {
        font: normal normal 11px/11px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 3px;
    }
    
    .discountBlack {
        font: normal normal 11px/11px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 3px;
    }
    
    .discountBold {
        font: normal normal 11px/11px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        margin-right: 3px;
    }
    
    .subcat {
        grid-area: subcat;
        height: 36px;
        background-color: #FFFFFF;
        border-bottom: solid 1px #555555;
        padding: 9px 112px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .subcat a{
        text-decoration: none;
        text-align: left;
        font: normal normal 13.5px/13.5px Lato;
        letter-spacing: 0px;
        color: #555555;
    }
    
    .main {
        grid-area: main;
        display: grid;
        grid-template-areas: " titulo "
        "comercio ";
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
    
    .titulo {
        grid-area: titulo;
        font: normal normal bold 19.5px/19.5px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        border-bottom: solid 1px #CCCCCC;
        padding-bottom: 3px;
        margin-top: 28px;
    }
    
    .comercio {
        display: grid;
        grid-template-areas:
        "bloqueSelector articulos "
        " . articulos ";
        grid-template-rows: auto auto;
        grid-template-columns: 30% 70%;
        margin-right: 9px;
    }
    
    .bloqueSelector {
        margin-right: 22.5px;
        margin-top: 15px;
        grid-area: bloqueSelector;
    }
    
    .selectorPrecio {
        grid-area: selectorPrecio;
        display: flex;
        justify-content: space-between;
    }
    
    .selectorPrecio p {
        font: normal normal bold 12px/12px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
    }

    .displayFiltros {
        max-width: 100%;
        height: auto;
    }
    
    .preciosDisponibles{
        font: normal normal bold 12px/12px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #555555;
        display: flex;
        margin-top: 13.5px;
        margin-right: 10.5px;
    }
    
    .bloqueNegro {
        height: 9px;
        width: 9px;
        margin-right: 3px;
        border-radius: 2px;
        background-color: #000000;
    }
    
    .linkMasPrecios{
        font: normal normal bold 9px/9px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #0d5c91;
        margin-top: 22.5px;
        padding-bottom: 13.5px;
        border-bottom: solid 1px #CCCCCC;
    }
    
    .articulos {
        grid-area: articulos;
        margin-top: 30px;
        display: grid;
        grid-template-areas:
        " listaArticulos ";
        grid-template-rows: auto;
        grid-template-columns: 100%;
    }

    .articulosEncabezado{
        display: none;
    }
    
    .listaArticulos {
        grid-area: listaArticulos;
        display: flex;
        flex-wrap: wrap;
        margin-top: 9px;
    }
    
    .compuDoorbuster {
        border: solid 1px #BCBCBC;
        border-radius: 5px;
        margin: 7.5px;
        padding: 9px;
    }
    
    .compuNormal {
        border: solid 1px #BCBCBC;
        border-radius: 5px;
        margin: 7.5px;
        padding: 9px;
    }
    
    .doorbuster {
        background-color: #af0200;
    }
    
    .doorbuster {
        color: #FFFFFF;
        font: normal normal 9px/9px Lato;
        text-align: center;
        letter-spacing: 0px;
        height: 18px;
        width: 84px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    .imagenCompu {
        margin-top: 21px;
        margin-left: 12px;
        margin-bottom: 3px;
        max-width: 100%;
        height: auto;
    }
    
    .descripcion {
        color: #0d5c91;
        font: normal normal bold 11px/11px Lato;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .precio {
        margin-top: 69px;
        font: normal normal 18px/18px Lato;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .cupon {
        font: normal normal 9px/9px Lato;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 7.5px;
    }
    
    .agregarCarrito {
        background-color:  #0d5c91;
        font: normal normal bold 12px/12px Lato;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-top: 8px;
        height: 30px;
        width: 155px;
        border: solid 1px #BCBCBC;
        border-radius: 4px;
    }
    
    .footer {
        grid-area: footer;
        height: 10vh;
        display: flex;
        align-items: flex-end;
    }
    
    .footer p {
        font: normal normal 10px/10px Lato;
        margin: 10px;   
    }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
    .grid {
        display: grid;
        grid-template-areas: "header header header header header"
       " nav nav nav nv nav "
       " services services services services services "
       " discount discount discount discount discount "
       " subcat subcat subcat subcat subcat "
       " . main main main . "
       "footer footer footer footer footer";
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: 8vw auto auto auto 8vw; 
    }
    
    .header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FFFFFF;
    }

    .logoLenovo {
        max-width: 100%;
        height: auto;
    }
    
    .intLinks{
        margin: 2.5px;    
    }
    
    .intLinks a img{
        margin: 2px 2.5px;
        max-width: 100%;
        height: auto;
    }
    
    .nav {
        grid-area: nav;
        display: grid;
        grid-template-areas: "navLinks"
       " buscador ";
        grid-template-rows: auto auto;
        grid-template-columns: auto; 
        margin: 5px;
        background-color: #FFFFFF;
    }
    
    .navLinks a {
        grid-area: navLinks;
        text-decoration: none;
        text-align: left;
        font: normal normal bold 12px/12px Lato-Bold;
        letter-spacing: -0.14px;
        color: #000000;
        margin-right: 4px;
    }
    
    .buscador {
        grid-area: buscador;
        display: flex;
        border: solid 1px #000000;
        border-radius: 4px;
        margin: 5px;
    }
    
    .casillaBuscar {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .textoBuscar{
        text-align: left;
        font: normal normal 9px/9px Lato;
        letter-spacing: 0px;
        color: #000000;
        margin: 5px 5px;
    }
    
    .lupaBuscar{
        background-color: #000000;
        height: 25px;
        width: 27px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .lupaBuscar img {
        height: 10px;
        width: 1px;
    }
    
    .services {
        grid-area: services;
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        overflow: auto;
        white-space: nowrap;
        height: 64px;
    }
    
    .services div {
        margin: 3px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .services div a{
        display: inline-block;
        text-decoration: none;
        text-align: left;
        font: normal normal bold 12px/12px Lato;
        letter-spacing: 0px;
        color: #000000;
        margin-right: 15px;
    }
    
    .discount {
        grid-area: discount;
        background-color: #af0e4e;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .discountText {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 3px 10px;
    }
    
    .discountRegular {
        font: normal normal 12px/12px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 2px;
    }
    
    .discountBlack {
        font: normal normal 12px/12px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 2px;
    }
    
    .discountBold {
        font: normal normal 12px/12px Lato;
        letter-spacing: -0.13px;
        color: #FFFFFF;
        margin-right: 2px;
    }
    
    .subcat {
        grid-area: subcat;
        height: 48px;
        background-color: #FFFFFF;
        border-bottom: solid 1px #555555;
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: auto;
        white-space: nowrap;
    }
    
    .subcat a {
        display: inline-block;
        text-decoration: none;
        text-align: left;
        font: normal normal 11px/11px Lato;
        letter-spacing: 0px;
        color: #555555;
        margin-right: 12px;
    }
    
    .main {
        grid-area: main;
        display: grid;
        grid-template-areas: " titulo "
        "comercio ";
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
    
    .titulo {
        grid-area: titulo;
        font: normal normal bold 30px/30px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
        border-bottom: solid 1px #CCCCCC;
        padding-bottom: 5px;
        margin-top: 35px;
    }
    
    .comercio {
        display: grid;
        grid-template-areas:
        "bloqueSelector"
        " articulos ";
        grid-template-rows: auto;
        grid-template-columns: auto;
        margin-right: 5px;
    }
    
    .bloqueSelector {
        margin-right: 8px;
        margin-top: 15px;
        grid-area: bloqueSelector;
    }
    
    .selectorPrecio {
        grid-area: selectorPrecio;
        display: flex;
        justify-content: space-between;
    }
    
    .selectorPrecio p {
        font: normal normal bold 12px/12px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #000000;
    }

    .displayFiltros {
        max-width: 100%;
        height: auto;
    }
    
    .preciosDisponibles{
        font: normal normal bold 11px/11px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #555555;
        display: flex;
        margin-top: 13px;
        margin-right: 10px;
    }
    
    .bloqueNegro {
        height: 9px;
        width: 9px;
        margin-right: 2px;
        border-radius: 2px;
        background-color: #000000;
    }
    
    .linkMasPrecios{
        font: normal normal bold 11px/11px Lato;
        text-align: left;
        letter-spacing: 0px;
        color: #0d5c91;
        margin-top: 13px;
        padding-bottom: 13px;
        border-bottom: solid 1px #CCCCCC;
    }
    
    .articulos {
        grid-area: articulos;
        margin-top: 11.4px;
        display: grid;
        grid-template-areas:
        " listaArticulos ";
        grid-template-rows: auto;
        grid-template-columns: 100%;
    }

    .articulosEncabezado{
        display: none;
    }
    
    .listaArticulos {
        grid-area: listaArticulos;
        display: flex;
        flex-wrap: wrap;
        margin-top: 9px;
    }
    
    .compuDoorbuster {
        border: solid 1px #BCBCBC;
        border-radius: 5px;
        margin: 7.5px;
        padding: 9px;
    }
    
    .compuNormal {
        border: solid 1px #BCBCBC;
        border-radius: 5px;
        margin: 7.5px;
        padding: 9px;
    }
    
    .doorbuster {
        background-color: #af0200;
    }
    
    .doorbuster {
        color: #FFFFFF;
        font: normal normal 9px/9px Lato;
        text-align: center;
        letter-spacing: 0px;
        height: 18px;
        width: 84px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    .imagenCompu {
        margin-top: 21px;
        margin-left: 12px;
        margin-bottom: 3px;
        max-width: 100%;
        height: auto;
    }
    
    .descripcion {
        color: #0d5c91;
        font: normal normal bold 11px/11px Lato;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .precio {
        margin-top: 69px;
        font: normal normal 18px/18px Lato;
        text-align: left;
        letter-spacing: 0px;
    }
    
    .cupon {
        font: normal normal 9px/9px Lato;
        text-align: left;
        letter-spacing: 0px;
        margin-top: 7.5px;
    }
    
    .agregarCarrito {
        background-color:  #0d5c91;
        font: normal normal bold 12px/12px Lato;
        text-align: center;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-top: 8px;
        height: 30px;
        width: 150px;
        border: solid 1px #BCBCBC;
        border-radius: 4px;
    }
    
    .footer {
        grid-area: footer;
        height: 10vh;
        display: flex;
        align-items: flex-end;
    }
    
    .footer p {
        font: normal normal 10px/10px Lato;
        margin: 10px;   
    }
}